.footer-img{
    background-image: url('../../assets/assets_Homework_Front-End_01/bitmap_2.png');
    display: flex;
    justify-content: left;
    padding:50px 120px;
}

.footer-img h3{
    margin:0;
    font-size: 13px;
    color:white;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.footer-img span{
    color:#cfb995;
    margin-top:20px;
    font-size: 12px;
}

.submit-link span img{
    font-size: 8px;
}

@media only screen and (min-width: 320px) and (max-width: 568px)  {
    .footer-img{
        background-image: url('../../assets/assets_Homework_Front-End_01/bitmap_2.png');
        display: flex;
        justify-content: left;
        padding:50px;
        width: 650px
    }
  }